<div class="user-list">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Type</th>
      <th>Open</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users track by $index" id="user{{ $index + 1 }}">
      <td>{{ $index + 1 }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.name_first }}</td>
      <td>{{ user.name_last }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.type }}</td>

      <td id="edit-button" ng-click="invokeEdit(user)">
        <span class="glyphicon glyphicon-folder-open"></span>
      </td>

      <td id="delete-button" ng-click="deleteUser(user, '#user' + ($index+1) )">
        <span class="glyphicon glyphicon-remove"></span>
      </td>

    </tr>
  </tbody>
  </table>
</div>
