<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a href="#/home">Home</a>
      </li>

      <li class="treeview active">
        <a href="#/users">
          <i class="fa fa-dashboard"></i>
          <span>Users</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu menu-open" style="display: block;">
          <li><a href="#/users/add"> Add User</a></li>
          <li><a href="#/users/import">Bulk Import</a></li>
        </ul>
      </li>

      <li class="treeview active">
        <a href="#/lessons">
          <i class="fa fa-dashboard"></i>
          <span>Lessons</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu menu-open" style="display: block;">
          <li><a href="#/lessons/"> View Lessons</a></li>
          <li><a href="#/lessons/add"> Add Lessons</a></li>
        </ul>
      </li>

      <li>
        <a href="#/servers">Servers</a>
      </li>

      <li>
        <a href="/logout">Sign Out</a>
      </li>
    </ul>
  </section>
</aside>
