<div class="lesson-list">
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Lesson ID</th>
			<th>Lesson Name</th>
			<th>File Name</th>
			<th>Size</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		<!-- <tr ng-repeat="file in files track by $index" id="file{{ $index + 1 }}"> -->
		<tr ng-repeat="file in files track by $index" ng-click="viewLesson( file )" id="file{{ $index + 1 }}">
			<!-- <td>{{ $index + 1 }}</td> -->
			<td>{{ file._id }}</td>
			<td>{{ file.name }}</td>
			<td>{{ file.file.name }}</td>
			<td>{{ file.size }}</td>
			<td>{{ file.file.type }}</td>
			<td ng-click="deleteLesson(file, 'file' + $index )"><span class="glyphicon glyphicon-remove"></span></td>
		</tr>
	</tbody>
	</table>
</div>			
